@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wdth,wght@0,75,100..900;1,75,100..900&display=swap');

.clickable-text {
  color: #0078d4;
  cursor: pointer;
  text-decoration: none;
}
.clickable-text:hover {
  text-decoration: underline;
}

.error-text {
  color: red;
  font-size: 12px;
  margin-top: 2px;
  position: absolute;
  bottom: -10px;
  left: 250px;
}
.error-service-description {
  color: red;
  font-size: 12px;
  margin-top: 2px;
  position: absolute;
  bottom: -10px;
  left: 250px;
}

.shimmer {
  background-color: red;
}

.error-service-name {
  color: red;
  font-size: 12px;
  margin-top: 2px;
  position: absolute;
  bottom: -10px;
  left: 2px;
}

.error-first-response {
  color: red;
  font-size: 12px;
  margin-top: 2px;
  position: absolute;
  bottom: -10px;
  right: 40px;
}

.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.spin {
  animation: spin 1s linear infinite;

}

body {
  background-color: #FFFFFF;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}